.checkoutProduct{
    display: flex;
    margin: 30px 0px;
    font-size: 0.9rem;
    border: 1px solid grey;
    justify-content: space-between;

}
.checkoutProduct_info{
    padding-left: 30px;
}
.checkoutProduct_rating{
    color: yellow;

}

.checkoutProduct_info > button {
    border: 1px solid;
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 10px;
    padding: 1px 12px;
    font-size: 13px;
    font-weight: 550;
    border-radius: 3px;
    color: #111;
    cursor: pointer;
}

.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}