.header_container{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-top: 0;
    background-color: rgb(4, 173, 18);
    align-items: center;
    justify-content: space-between;
}
.header_container ::after{
    margin-top: 150px;
}
.header_logo{
    
    width: 60px;
    margin-top: 5px;
    margin-left: 20px;
    height: 60px;
}
.flex{
    display: flex;
    align-items: center;
}
.menus{
   
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
p{
    font-size: 17px;
}
.header_logo img{
    height: 90%;
    border-radius: 34px;
}
h5{
    text-decoration: none;
}
.text-link{
    text-decoration: none;
    color: white;
}
.white{
    color: white;
    
}
.hover :hover{
    background-color: green;
}
.padding{
    padding: 5px 8px;
}

.userdetails{
    width: 25%;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}
.log{
    cursor: pointer;
}